/*             group_1            */
@font-face {
	font-family: Poppins;
	src: url(../fonts/Poppins.ttf);
}

body {
	font-family: "Poppins";
}

button {
	border: 0;
	cursor: pointer;
}

.body {
	margin: 0;
}

.nav {
	background-color: #daac00;
}

.container {
	max-width: 1100px;
	width: 90%;
	margin: auto;
}

.nav .container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 100px;
}

.img {
	width: 190px;
	height: 50px;
}

.img-logo-mobile {
	display: none;
}

.wrapper {
	display: none;
}

.menu {
	display: flex;
	justify-content: space-between;
	flex-basis: 35%;
}

.search {
	height: 40%;
}

.search .nav__form {
	height: 100%;
}

.search .nav__input , .nav__button{
	border: 0;
}

.search .nav__form , .nav__button {
	display: flex;
}

.search .nav__input {
	padding-left: 15px;
	background-color: #fcc302;
}

.search .nav__input::placeholder {
	color: white;
}

.nav__button {
	background-color: #00ccff;
	width: 60px;
	display: flex;
	justify-content: space-around;
}

.nav__button:hover {
	background-color: #008B8B;
	width: 60px;
	display: flex;
	justify-content: space-around;
}

.nav__search-img {
	margin: auto;
}

.menu__link {
	color: white;
	font-size: 20px;
	text-decoration: initial;
}

.menu__link:hover {
	color: #0F3D38;
}

/*             group_2            */

.home {
	background-color: #fcc302;
}

.home .container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: white;
	height: 700px;
}

.home__information {
	display: flex;
	flex-direction: column;
	height: 480px;
}

.home__title {
	height: 50%;
}

.home__subtitle {
	height: 50%;
}

.home__link {
	height: 50%;
}

.home__text-first {
	font-size: 50px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.home__text-lorem {
	font-size: 20px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.home__button {
	text-decoration: initial;
	color: white;
	border-radius: 7px;
	padding: 15px;
	margin-right: 40px;
}

.home__button:active {
	text-decoration: initial;
	color: white;
	border-radius: 7px;
	padding: 15px;
}

.home__button-contact-us {
	background-color: #00ccff;
	border: 2px solid #00ccff;
}

.home__button-contact-us:hover {
	background-color: #6495ed;
	border: 2px solid #6495ed;
}

.home__button-our-services {
	border:1px solid white;
}

.home__button-our-services:hover {
	border:1px solid #604A00;
	color: #604A00;
}

.home__link-media {
	display: none;
}

.home__subtitle-media {
	display: none;
}

/*             group_3            */

.veterinar-informaton {
	background-color: white;
}

.veterinar-informaton .container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 700px;
}

.veterinar-informaton__text {
	height: 300px;
	z-index: 3;
}

.veterinar-informaton__title {
	font-size: 50px;
	margin-top: 0px;
	margin-bottom: 0px;
	height: 55%;
}

.veterinar-informaton__subtitle {
	font-size: 20px;
	margin-top: 0px;
	margin-bottom: 0px;
	height: 45%;
}

.veterinar-informaton__button {
	background-color: #FCC302;
	border-radius: 7px;
	text-decoration: initial;
	padding: 15px;
	color: white;
}

.veterinar-informaton__button:hover {
	background-color: #FF8C00;
	border-radius: 7px;
	text-decoration: initial;
	padding: 15px;
	color: white;
}

.veterinar-informaton__button:active {
	background-color: #FF8C00;
	border-radius: 7px;
	text-decoration: initial;
	padding: 15px;
	color: white;
}

.veterinar-informaton__video {
	z-index: 2;
	position: relative;
}

.veterinar-informaton__videoclip-dog  {
	object-fit: fill;
	z-index: 2;
	height: 400px; 
	width: 450px;
}

.veterinar-informaton__button-play{
	background-color: #FFF8DC;
	border-radius: 50%;
	width: 70px;
	height: 70px;
	position: absolute;
	top: 46%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.veterinar-informaton__button-play:hover {
	background-color: #FFFFFF;
}

.veterinar-informaton__tringle{
	background-color: #fcc302;
	width: 30px;
	height: 30px;
	pointer-events: none;
	position: absolute;
	top: 30%;
	left: 35%;
	clip-path: polygon(0 0, 100% 50%, 0 100%);
}

.veterinar-informaton__bloсk {
	background-color: #FCC302;
	width: 240px;
	height: 200px;
	position: absolute;
	transform: translate(-10%,-90%);
	z-index: -1;
}

/*             group_4            */

.postures-for-treatment {
	background-color: #fcc302;
	height: 900px;
}

.postures-for-treatment__text-information {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: white;
	height: 33%;
}

.postures-for-treatment__title {
	font-size: 60px;
	margin-bottom: 0px;
	height: 5%;
}

.postures-for-treatment__subtitle {
	text-align: center;
	font-size: 30px;
	margin-bottom: 80px;
}

.postures-for-treatment__image {
	display: flex;
	justify-content: space-between;
}

.postures-for-treatment__img {
	width: 300px;
	height: 300px;
}

.postures-for-treatment__image-information-text {
	color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100px;
}

.postures-for-treatment__signature {
	height: 100%;
	margin-left: 0px;
	margin-right: 0px;
}

.postures-for-treatment__signature-title {
	text-align: center;
	font-size: 30px;
	height: 20%
}

.postures-for-treatment__signature-subtitle {
	text-align: center;
	font-size: 20px;
}

.postures-for-treatment__block-information-meta {
	display: none;
}

/*             group_5            */

.ear-treatment .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 700px;
}

.ear-treatment__video-information {
	position: relative;

}

.ear-treatment__video {
	object-fit: fill;
	z-index: 2;
	width: 450px;
	height: 400px;
}

.ear-treatment__title {
	text-align: right;
	font-size: 50px;
	height: 100px;
}

.ear-treatment__subtitle {
	text-align: right;
	font-size: 30px;
}

.ear-treatment__Our-Service {
	background-color: #FCC302;
	border-radius: 7px;
	float: right;
	padding: 15px;
	text-decoration: initial;
	color: white;
}

.ear-treatment__Our-Service:hover {
	background-color: #FF8C00;
	border-radius: 7px;
	float: right;
	padding: 15px;
	text-decoration: initial;
	color: white;
}

.ear-treatment__Our-Service:active {
	background-color: #FF8C00;
	border-radius: 7px;
	float: right;
	padding: 20px;
	text-decoration: initial;
	color: #00ccff;
}

.ear-treatment__button-play {
	background-color: #FFF8DC;
	border-radius: 50%;
	width: 70px;
	height: 70px;
	position: absolute;
	left: 34%;
	top: 46%;
	transform: translate(50%, -50%);
	z-index: 2;
}

.ear-treatment__button-play:hover {
	background-color: #FFFFFF;
}

.ear-treatment__tringle {
	background-color: #DAAC00;
	width: 30px;
	height: 30px;
	pointer-events: none;
	position: absolute;
	left: 25px;
	top: 20px;
	clip-path: polygon(0 0, 100% 50%, 0 100%);
}

.ear-treatment__bloсk {
	background-color: #FCC302;
	width: 250px;
	height: 180px;
	position: absolute;
	left: 50%;
	top: 39%;
	transform: translate(0,50%);
	z-index: -1;
}

/*             group_6            */

.buying-dog {
	background-color: #FCC302;
	height: 900px;
}

.buying-dog__text-information {
	display: flex;
	flex-direction: column;
	color: white;
	height: 35%;
}

.buying-dog__title {
	text-align: center;
	font-size: 60px;
	margin-bottom: 0px;
}

.buying-dog__subtitle {
	text-align: center;
	font-size: 35px;
	margin-top: 20px; 	
}

.buying-dog__image {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 35%;
}

.buying-dog__cost-information {
	display: flex;
	flex-direction: column;
	margin-left: 90px;
	margin-right: 90px;	
	font-size: 35px;
}

.buying-dog__cost {
	display: flex;
	justify-content: space-between;
}

.buying-dog__money {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: white;
	margin-top: 0px;
	margin-bottom: 0px;
	position: relative;
}

.buying-dog__sale {
	margin-right: 30px;
}

.buying-dog__trait50 {
	border: 2px solid #29271a;
	width: 70px;
	position: absolute;
	top: 50%;
	left: 45%;
	transform: translate(-100%);
}

.buying-dog__trait40 {
	border: 2px solid #29271a;
	width: 70px;
	position: absolute;
	top: 50%;
	left: 45%;
	transform: translate(-100%);
}

.buying-dog__trait45 {
	border: 2px solid #29271a;
	width: 70px;
	position: absolute;
	top: 50%;
	left: 45%;
	transform: translate(-100%);
}

.buying-dog__cost-sale {
	font-size: 40px;
	color: white;
	margin-top: 0px;
}

.buying-dog__button {
	background-color: #00BEC9;
	border-radius: 60px;
	color: white;
	font-size: 17px;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-right: 30px;
	padding-left: 30px;
}

.buying-dog__button:hover {
	background-color: #6495ED;
	border-radius: 60px;
	color: white;
	font-size: 17px;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-right: 30px;
	padding-left: 30px;
}

.buying-dog__button:active {
	background-color: #00BEC9;
	border-radius: 60px;
	color: white;
	font-size: 17px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 32px;
	padding-left: 32px;
}

.buying-dog__meta-mobile {
	display: none;
}

/*             group_7            */

.vetcare-team {
	background-color: white;
	height: 1000px;
}

.vetcare-team__text {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.vetcare-team__title {
	text-align: center;
	font-size: 60px;
	margin-top: 70px;
	margin-bottom: 0px;
}

.vetcare-team__subtitle {
	text-align: center;
	font-size: 35px;
}

.vetcare-team__image {
	display: flex;
	justify-content: space-around;
	margin-top: 40px;
}

.vetcare-team__image-size {
	width: 345px;
	height: 345px;
}

.vetcare-team__signature {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.vetcare-team__signature-title {
	font-size: 35px;
	margin-bottom: 0px;
}

.vetcare-team__signature-subtitle {
	font-size: 20px;
	margin-top: 10px;
	text-align: center;
	text-transform: uppercase;
}

.vetcare-team__social-networks {
	display: flex;
	justify-content: space-around;
}

.vetcare-team__social-network {
	background-color: #DAAC00;
	border-radius: 50%;
	margin-top: 20px;
	width: 40px;
	height: 40px;
	border: 0;
}

.vetcare-team__social-network-icon {
	margin-top: 3px;
	width: 25px;
	height: 25px;
}

.vetcare-team__social-network-icon:active {
	margin-top: 3px;
	width: 28px;
	height: 28px;
}

.vetcare-team__media-mobile {
	display: none;
}

/*             group_8            */

.all-time-information {
	background: url(../images/all-time-information/man-with-dog.png);
	height: 550px;
}

.all-time-information__icon {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 550px;
}

.all-time-information__icon-information {
	text-align: center;
}

.all-time-information__text {
	color: white;
}

.all-time-information__title {
	text-align: center;
	font-size: 30px;
	margin-top: 50px;
}

/*             group_9            */

.recent-posts {
	background-color: white;
	height: 960px;
}

.recent-posts__title {
	text-align: center;
	font-size: 60px;
	margin-bottom: 0px;
}

.recent-posts__subtitle {
	text-align: center;
	font-size: 30px;
	margin-top: 10px;
}

.recent-posts__image-information {
	display: flex;
	justify-content: space-between;
	margin-top: 70px;
}

.recent-posts__image {
	width: 350px;
	height: 350px;
}

.recent-posts__information {
	display: flex;
	justify-content: space-between;
	margin-left: 10px;
	margin-right: 10px;
}

.recent-posts__signature {
	font-size: 25px;
}

.recent-posts__date {
	color: #00BEC9;
}

.recent-posts__signature-subtitle {
	font-size: 15px;
}

.recent-posts__date {
	text-transform: uppercase;
}

.recent-posts__link {
	display: flex;
	text-decoration: initial;
	color: #00BEC9;
	font-size: 20px;
}
.recent-posts__plus {
	text-decoration: initial;
	color: #00BEC9;
	font-size: 20px;
	margin-left: 5px;
	opacity: 0;
}

.recent-posts__link:hover .recent-posts__plus {
	opacity: 1;
}

.recent-posts__block-information-meta-mobile {
	display: none;
}

/*             group_10(footer)            */

.footer {
	background-color: #343434;
}

.footer .container {
	height: 500px;
	align-items: center;
	display: flex;
	justify-content: space-between;
}

.footer__column {
	display: flex;
	flex-direction: column;
}

.footer__About {
	font-size: 30px;
	margin-bottom: 10px;
	color: white;
	text-decoration: initial;
}

.footer__About:hover {
	font-size: 30px;
	margin-bottom: 10px;
	color: lightblue;
	text-decoration: initial;
}

.footer__Services {
	font-size: 30px;
	margin-bottom: 10px;
	color: white;
	text-decoration: initial;
}

.footer__Services:hover {
	font-size: 30px;
	margin-bottom: 10px;
	color: lightblue;
	text-decoration: initial;
}

.footer__subtitle {
	color: white;
	text-decoration: initial;
	font-size: 20px;
	margin-bottom: 5px;
}

.footer__subtitle:hover {
	color: lightblue;
	text-decoration: initial;
	font-size: 20px;
	margin-bottom: 5px;
}

.footer__search-information {
	width: 550px;
	height: 250px;
}

.footer__title-search {
	color: white;
	font-size: 35px;
	margin-top: 0px;
	margin-bottom: 0px;
	text-align: right;
}

.footer__subtitle-search {
	text-align: right;
	font-size: 20px;
	color: white;
	margin-top: 0px;
	margin-bottom: 30px;
}

.footer__form-media-mobile {
	height: 60px;
	display: flex;
	color: white;
	margin-left: 80px;
}

.footer__input {
	height: 58px;
	width: 350px;
	border: 0;
	background-color: #DAAC00;
	padding-left: 20px;
}

.footer__input::placeholder {
	color: white;
}

.footer__button-form {
	height: 59px;
	width: 100px;
	background-color: #00BEC9;
}

.footer__img {
	width: 20px;
	height: 20px;
}

.footer__Services-button-meta {
	margin-left: 378px;
}

.footer__button-social-network {
	border-radius: 60px;
	width: 30px;
	height: 30px;
	margin-top: 30px;
	margin-left: 9px;
}

.footer__search-image {
	margin-top: 3px;
	height: 15px;
	width: 15px;
}

.footer__search-image:active {
	margin-top: 3px;
	height: 16px;
	width: 16px;
}

.footer__column-meta-mobile {
	display: none;
}

.footer__Services-button-meta-mobile {
	display: none;
}

/*             MEDIA            */

@media (max-width: 1100px) {
	/*             MEDIA-group_1            */

	.img {
		width: 160px;
		height: 50px;
	}

	.menu__link {
		font-size: 15px;
	}

	/*             MEDIA-group_2            */

	.home .container {
		height: 500px;
	}

	.home__information {
		height: 300px;
	}

	.home__text-first {
		font-size: 40px;
	}

	.home__text-lorem {
		font-size: 20px;
	}

	.home__button {
		padding: 5px;
		margin-right: 20px;
	}

	.home__button:active {
		padding: 5px;
	}

	.home__button-our-services {
		border:1px solid white;
	}

	.home__button-our-services:hover {
		border:1px solid #604A00;
		color: #604A00;
	}

	.home__img {
		width: 300px;
		height: 450px;
	}

	.home__link {
		margin-top: 30px;
	}

	/*             MEDIA-group_3            */

	.veterinar-informaton .container {
		height: 500px;
	}

	.veterinar-informaton__text {
		height: 200px;
	}

	.veterinar-informaton__title {
		font-size: 35px;
	}

	.veterinar-informaton__subtitle {
		font-size: 15px;
	}

	.veterinar-informaton__button {
		padding: 8px;
	}

	.veterinar-informaton__button:hover {
		padding: 8px;
	}

	.veterinar-informaton__button:active {
		padding: 8px;
	}

	.veterinar-informaton__videoclip-dog  {
		width: 300px;
		height: 280px;
	}

	.veterinar-informaton__button-play{
		width: 50px;
		height: 50px;
	}

	.veterinar-informaton__tringle{
		width: 20px;
		height: 20px;
	}

	.veterinar-informaton__bloсk {
		width: 160px;
		height: 140px;
	}

	/*             MEDIA-group_4            */

	.postures-for-treatment {
		height: 570px;
	}

	.postures-for-treatment__title {
		font-size: 30px;
	}

	.postures-for-treatment__subtitle {
		font-size: 20px;
		margin-bottom: 40px;
	}

	.postures-for-treatment__img {
		width: 200px;
		height: 200px;
	}

	.postures-for-treatment__signature {
		margin-left: 0px;
		margin-right: 0px;
	}

	.postures-for-treatment__signature-title {
		font-size: 20px;
	}

	.postures-for-treatment__signature-subtitle {
		font-size: 15px;
	}

	/*             MEDIA-group_5            */

	.ear-treatment .container {
		height: 500px;
	}

	.ear-treatment__video {
		width: 300px;
		height: 280px;
	}

	.ear-treatment__title {
		font-size: 35px;
		height: 90px;
	}

	.ear-treatment__subtitle {
		font-size: 15px;
	}

	.ear-treatment__Our-Service {
		padding: 8px;
	}

	.ear-treatment__Our-Service:hover {
		padding: 8px;
	}

	.ear-treatment__Our-Service:active {
		padding: 8px;
	}

	.ear-treatment__button-play {
		width: 50px;
		height: 50px;
	}

	.ear-treatment__tringle {
		width: 20px;
		height: 20px;
		left: 18px;
		top: 17px;
	}

	.ear-treatment__bloсk {
		width: 150px;
		height: 110px;
	}

	/*             MEDIA-group_6            */

	.buying-dog {
		height: 530px;
	}

	.buying-dog__title {
		font-size: 30px;
	}

	.buying-dog__subtitle {
		font-size: 20px;
		margin-top: 10px; 	
	}

	.buying-dog__img {
		width: 200px;
		height: 200px;
	}

	.buying-dog__money {
		font-size: 25px;
	}

	.buying-dog__cost-information {
		margin-left: 35px;
		margin-right: 35px;
	}

	.buying-dog__trait50 {
		width: 55px;
	}

	.buying-dog__trait40 {
		width: 55px;
	}

	.buying-dog__trait45 {
		width: 55px;
	}

	.buying-dog__button {
		font-size: 13px;
	}

	.buying-dog__button:hover {
		font-size: 13px;
	}

	.buying-dog__button:active {
		font-size: 13px;
	}

	/*             MEDIA-group_7            */

	.vetcare-team {
		height: 620px;
	}

	.vetcare-team__title {
		font-size: 30px;
		margin-top: 40px;
	}

	.vetcare-team__subtitle {
		font-size: 25px;
	}

	.vetcare-team__image {
		display: flex;
		justify-content: space-around;
		margin-top: 20px;
	}

	.vetcare-team__image-size {
		width: 200px;
		height: 200px;
	}

	.vetcare-team__signature-title {
		font-size: 20px;
	}

	.vetcare-team__signature-subtitle {
		font-size: 13px;
	}

	.vetcare-team__social-network {
		width: 30px;
		height: 30px;
	}

	.vetcare-team__social-network-icon {
		width: 15px;
		height: 15px;
	}

	.vetcare-team__social-network-icon:active {
		width: 18px;
		height: 18px;
	}

	/*             MEDIA-group_8            */

	.all-time-information {
	height: 350px;
	}

	.all-time-information__icon {
		height: 350px;
	}

	.all-time-information__title {
		font-size: 20px;
		margin-top: 20px;
	}

	/*             MEDIA-group_9            */

	.recent-posts {
		height: 620px;
	}

	.recent-posts__title {
		font-size: 30px;
	}

	.recent-posts__subtitle {
		font-size: 20px;
	}

	.recent-posts__image-information {
		margin-top: 50px;
	}

	.recent-posts__image {
		width: 200px;
		height: 200px;
	}

	.recent-posts__signature {
		font-size: 15px;
	}

	.recent-posts__signature-subtitle {
		font-size: 10px;
	}

	.recent-posts__link {
		font-size: 15px;
	}

	.recent-posts__link-nonanimation {
		font-size: 15px;
	}

	.recent-posts__plus {
		font-size: 15px;
	}

	/*             MEDIA-group_10(footer)            */

	.footer .container {
		height: 300px;
	}

	.footer__About {
		font-size: 20px;
	}

	.footer__About:hover {
		font-size: 25px;
	}

	.footer__Services {
		font-size: 20px;
	}

	.footer__Services:hover {
		font-size: 25px;
	}

	.footer__subtitle {
		font-size: 15px;
	}

	.footer__subtitle:hover {
		font-size: 15px;
		margin-bottom: 5px;
	}

	.footer__search-information {
		width: 300px;
		height: 200px;
	}

	.footer__title-search {
		font-size: 25px;
	}

	.footer__subtitle-search {
		font-size: 15px;
	}

	.footer__form {
		height: 60px;
	}

	.footer__form-media-mobile {
		display: flex;
	}

	.footer__input {
		height: 38px;
		width: 200px;
	}

	.footer__button-form {
		height: 40px;
		width: 100px;
	}

	.footer__img {
		width: 15px;
		height: 15px;
	}

	.footer__Services-button-meta {
		margin-left: 150px;
	}

	.footer__button-social-network {
		width: 25px;
		height: 25px;
	}

	.footer__search-image {
		height: 12px;
		width: 12px;
	}

	.footer__search-image:active {
		height: 15px;
		width: 15px;
	}

	.footer__Services-button-meta-mobile {
		display: none;
	}
}

/*             MEDIA-850px            */

@media (max-width: 850px) {

	/*             MEDIA-850px-group_1            */

	.nav {
		position: fixed;
		width: 100%;
		z-index: 10;
	}

	.nav .container {
		height: 80px;
	}
	
	.img {
		display: block;
		width: 100px;
		height: 30px;
	}

	.wrapper {
		display: block;
	    width: 55px;
	    background-color: orange;
	    position: relative;
	    text-align: center;
	    height: 40px;
	}

	#check-menu {
	    display: none;
	}

	.nav__lable {
	    display: block;
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	    cursor: pointer;
	    z-index: 2;
	    line-height: 40px;
	}

	.nav-line {
	    position: absolute;
	    top: 8px;
	    right: 10px;
	    width: 35px;
	    height: 2px;
	    background-color: #fff;
	    transition: 0.5s all;
	}

	.second, .third {
	    top: 18px;
	}

	.fourth {
	    top: 28px;
	}

	.main-menu{
	    display: block;
	    position: absolute;
	    width: 200px;
	    bottom: -50%;
	    right: 0;
	    transform: translate(16%,100%);
	    max-height: 0;
	    overflow: hidden;
	    transition: 0.5s all;
	}

	.nav-checkbox__menu {
	    display: block;
	    font-size: 20px;
	    padding: 10px;
	    color: white;
	    text-decoration: none;
	    border-bottom: 1px solid black;
	    background-color: #daac00;
	}

	.nav-checkbox__menu:hover {
	    background-color: orange;
	}

	#check-menu:checked ~ .main-menu {
	    max-height: 500px;
	    font-size: 16px;
	}

	#check-menu:checked ~ .first {
	    display: none;
	}

	#check-menu:checked ~ .second {
	    transform: rotate(45deg);
	}

	#check-menu:checked ~ .third {
	    transform: rotate(-45deg);
	}

	#check-menu:checked ~ .fourth {
	    display: none;
	}

	.menu {
		display: none;
	}

	.search {
		width: 240px;
		height: 60px;
	}

	.search .nav__form {
		align-items: center;
	}

	.search .nav__input {
		width: 100%;
		height: 60%;
		padding-left: 8px;
	}

	.nav__button{
		width: 60px;
		height: 63%;
	}

	.nav__search-img {
		margin: auto;
		width: 15px;
		height: 15px;
	}

	.menu__link {
		color: white;
		font-size: 10px;
		text-decoration: initial;
	}

	/*             MEDIA-850px-group_2            */
	
	.home .container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		color: white;
		height: 600px;
	}

	.home__information {
		display: flex;
		flex-direction: column;
		height: 480px;
		margin-top: 100px;
	}

	.home__title {
		height: 40%;
	}

	.home__subtitle {
		height: 40%;
	}

	.home__text-first {
		font-size: 30px;
		margin-top: 80px;
		margin-bottom: 0px;
	}

	.home__text-lorem {
		position: absolute;
		top: 60%;
		font-size: 15px;
		margin-top: 0px;
		margin-bottom: 0px;
	}

	.home__link {
		position: absolute;
		top: 75%;
		height: 40px;
		width: 100%;
		display: flex;
		justify-content: space-around;
	}

	.home__button {
		text-align: center;
		text-decoration: initial;
		color: white;
		border-radius: 7px;
		padding: 20px, 20px;
		margin-right: 40px;
	}

	.home__button:active {
		text-decoration: initial;
		color: white;
		border-radius: 7px;
		padding: 20px, 20px;
		margin-right: 40px;
	}

	.home__button-contact-us {
		background-color: #00ccff;
		border: 2px solid #00ccff;
		width: 30%;
	}

	.home__button-contact-us:hover {
		background-color: #6495ed;
		border: 2px solid #6495ed;
	}

	.home__button-our-services {
		border:1px solid white;
		width: 30%;
	}

	.home__button-our-services:hover {
		border:1px solid #604A00;
		color: #604A00;
	}

	.home__img {
		width: 200px;
		height: 300px;
		margin-bottom: 50%;
	}

	.home__link-media {
		display: none;
	}

	.home__subtitle-media {
		display: none;
	}

	/*             MEDIA-850px-group_3            */

	.veterinar-informaton .container {
		display: flex;
		flex-direction: column;
		height: 100%;
	}

	.veterinar-informaton__text {
		height: 250px;
		z-index: 3;
	}

	.veterinar-informaton__title {
		font-size: 30px;
		margin-top: 20px;
		height: 39%;
		text-align: center;
	}

	.veterinar-informaton__subtitle {
		font-size: 15px;
		height: 35%;
		text-align: center;
	}

	.veterinar-informaton__button {
		padding: 10px;
		color: white;
		margin-left: 30%;
	}

	.veterinar-informaton__button:hover {
		padding: 10px;
	}

	.veterinar-informaton__video {
		position: relative;
		bottom: 10%;
		margin-bottom: 40px;	
	}

	.veterinar-informaton__videoclip-dog  {
		height: 300px; 
		width: 350px;
	}

	.veterinar-informaton__button-play{
		width: 60px;
		height: 60px;
	}

	.veterinar-informaton__tringle{
		width: 25px;
		height: 25px;
	}

	.veterinar-informaton__bloсk {
		width: 240px;
		height: 200px;
	}

	/*             MEDIA-850px-group_4            */

	.postures-for-treatment {
		height: 100%;
	}

	.postures-for-treatment__text-information {
		height: 33%;
	}

	.postures-for-treatment__title {
		font-size: 30px;
		margin-bottom: 0px;
		height: 5%;
	}

	.postures-for-treatment__subtitle {
		text-align: center;
		font-size: 15px;
		margin-bottom: 10px;
	}

	.postures-for-treatment__image {
		display: flex;
		flex-direction: column;
	}

	.postures-for-treatment__img {
		width: 100%;
		height: 100%;
	}

	.postures-for-treatment__signature-title {
		text-align: center;
		font-size: 30px;
		margin-top: 0px;
		margin-bottom: 0px;
	}

	.postures-for-treatment__signature-subtitle {
		text-align: center;
		font-size: 15px;
		margin-top: 10px;
		margin-bottom: 10px;
	}

	.postures-for-treatment__block-information {
		display: none;
	}

	.postures-for-treatment__block-information-meta {
		display: block;
		display: flex;
		flex-direction: column;
		align-items: center;
		color: white;
	}

	/*             MEDIA-850px-group_5            */

	.ear-treatment .container {
		display: flex;
		flex-direction: column;
		height: 100%;
	}

	.ear-treatment__video {
		margin-top: 50px;
		width: 350px;
		height: 300px;
	}

	.ear-treatment__text-information {
		margin-bottom: 40px;
	}

	.ear-treatment__title {
		text-align: center;
		font-size: 30px;
		height: 60%;
		margin-top: 30px;
	}

	.ear-treatment__subtitle {
		text-align: center;
		font-size: 15px;
	}

	.ear-treatment__Our-Service {
		padding: 10px;
		color: white;
		margin-right: 30%;
		
	}

	.ear-treatment__Our-Service:hover {
		padding: 10px;
	}

	.ear-treatment__Our-Service:active {
		padding: 10px;
	}

	.ear-treatment__button-play {
		width: 60px;
		height: 60px;
		position: absolute;
		left: 35%;
		top: 55%;
	}

	.ear-treatment__tringle {
		width: 25px;
		height: 25px;
		position: absolute;
		left: 21px;
		top: 18px;
	}

	.ear-treatment__bloсk {
		width: 250px;
		height: 220px;
		position: absolute;
		left: 35%;
		top: 15%;
	}

	/*             MEDIA-850px-group_6            */

	.buying-dog {
		background-color: #FCC302;
		height: 100%;
	}

	.buying-dog__text-information {
		display: flex;
		flex-direction: column;
		color: white;
		height: 35%;
	}

	.buying-dog__title {
		font-size: 40px;
	}

	.buying-dog__subtitle {
		font-size: 20px;
		margin-top: 10px; 	
	}

	.buying-dog__meta-mobile {
		display: block;
		align-items: center;
	}

	.buying-dog__image-meta {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.buying-dog__img {
		width: 80%;
		height: 40%;
		margin-top: 20px;
	}

	.buying-dog__cost-information {
		display: flex;
		align-items: center;
	}

	.buying-dog__cost {
		display: none;
	}

	.buying-dog__money {
		position: relative;
		font-size: 40px;
	}

	.buying-dog__sale {
	}

	.buying-dog__trait50 {
		width: 80px;
		position: absolute;
    	top: 50%;
    	left: 45%;
    	transform: translate(-100%);
	}

	.buying-dog__trait40 {
		width: 50px;
	}

	.buying-dog__trait45 {
		width: 50px;
	}

	.buying-dog__button {
		background-color: #00BEC9;
		border-radius: 60px;
		color: white;
		font-size: 15px;
		padding: 10px 50px;
		margin-bottom: 30px;
	}

	.buying-dog__button:hover {
		background-color: #6495ED;
		font-size: 15px;
		padding: 10px 50px;
	}

	.buying-dog__button:active {
		background-color: #00BEC9;
		font-size: 15px;
		padding: 10px 50px;
	}

	.buying-dog__image {
		display: none;
	}

	/*             MEDIA-850px-group_7            */

	.vetcare-team {
		height: 100%;
	}

	.vetcare-team__title {
		text-align: center;
		font-size: 40px;
		margin-top: 40px;
		margin-bottom: 0px;
	}

	.vetcare-team__subtitle {
		text-align: center;
		font-size: 20px;
	}

	.vetcare-team__signature {
		display: none;
	}

	.vetcare-team__image {
		display: none;
	}

	.vetcare-team__media-information {
		width: 100%;

	}

	.vetcare-team__media-mobile {
		display: block;
		width: 100%;
	}

	.vetcare-team__image-size-mobile {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.vetcare-team__image-size {
		margin-top: 30px;
		width: 60%;
		height: 60%;
	}

	.vetcare-team__signature-title {
		font-size: 30px;
		margin-bottom: 0px;
		text-align: center;
	}

	.vetcare-team__signature-subtitle {
		font-size: 20px;
		margin-top: 10px;
		text-align: center;
	}

	.vetcare-team__social-network {
		margin-top: 5px;
		margin-bottom: 30px;
		width: 40px;
		height: 40px;
	}

	.vetcare-team__social-network-icon {
		width: 25px;
		height: 25px;
	}

	.vetcare-team__social-network-icon:active {
		width: 21px;
		height: 21px;
	}

	/*             MEDIA-850px-group_8            */

	.all-time-information {
		height: 100%;
	}

	.all-time-information__icon {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.all-time-information__icon-img {
		width: 50px;
		height: 50px;
	}

	.all-time-information__icon-information {
		text-align: center;
		margin-top: 30px;
		margin-right: 20px;
	}

	.all-time-information__text {
		color: white;
		height: 100px;
		display: flex;
	}

	.all-time-information__title {
		text-align: center;
		font-size: 20px;
		margin-top: 30px;
	}

	/*             MEDIA-850px-group_9            */

	.recent-posts {
		height: 100%;
	}

	.recent-posts__title {
		text-align: center;
		font-size: 40px;
		margin-bottom: 0px;
	}

	.recent-posts__subtitle {
		text-align: center;
		font-size: 20px;
		margin-top: 10px;
	}

	.recent-posts__block-information-meta-mobile {
		display: block;
	}

	.recent-posts__block-information {
		display: none;
	}

	.recent-posts__image-meta-mobile-container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.recent-posts__image-meta-mobile {
		margin-top: 50px;
		width: 60%;
		height: 60%;
	}

	.recent-posts__information-text {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		position: relative;
		margin-bottom: 50px;
	}

	.recent-posts__information {
		display: flex;
		justify-content: space-between;
		margin-left: 10px;
		margin-right: 10px;
	}

	.recent-posts__signature {
		font-size: 20px;
	}

	.recent-posts__date {
		color: #00BEC9;
		font-size: 15px;
		text-transform: uppercase;
	}

	.recent-posts__links {
		text-align: center;
	}

	.recent-posts__link {
		width: 50%;
		align-items: center;
		display: flex;
		position: absolute;
		top: 95%;
	}

	.recent-posts__signature-subtitle {
		font-size: 15px;
	}

	.recent-posts__link-text-information {
		width: 100%;
	}

	.recent-posts__plus {
		position: absolute;
		left: 65%;
		display: none;
	}

	.recent-posts__link:hover .recent-posts__plus {
		display: block;
	}

	/*             MEDIA-850px-group_10(footer)            */

	.footer .container {
		height: 100%;
		display: flex;
		flex-direction: column;
	}

	.footer__column {
		display: none;
	}

	.footer__column-meta-mobile {
		display: flex;
		justify-content: space-around;
		width: 90%;
	}

	.footer__column-meta {
		display: flex;
		flex-direction: column;
		margin-top: 15px;
		height: 160px;
	}

	.footer__About {
		font-size: 20px;
	}

	.footer__About:hover {
		font-size: 20px;
	}

	.footer__Services {
		font-size: 20px;
	}

	.footer__Services:hover {
		font-size: 20px;
	}

	.footer__subtitle {
		font-size: 15px;
	}

	.footer__subtitle:hover {
		font-size: 15px;
	}

	.footer__search-information {
		margin-top: 20px;
		width: 90%;
		height: 200px;
	}

	.footer__title-search {
		color: white;
		font-size: 30px;
		margin-top: 0px;
		margin-bottom: 0px;
		text-align: center;
	}

	.footer__subtitle-search {
		text-align: center;
		font-size: 12px;
		color: white;
		margin-top: 0px;
		margin-bottom: 20px;
	}

	.footer__form-media-mobile {
		width: 90%;
		display: flex;
		justify-content: center;
		margin-left: 10px; 
	}

	.footer__input {
		height: 38px;
		width: 300px;
	}

	.footer__button-form {
		height: 40px;
		width: 80px;
	}

	.footer__img {
		width: 15px;
		height: 15px;
	}

	.footer__Services-button-meta {
		display: none;
	}

	.footer__Services-button-meta-mobile {
		position: relative;
		bottom: 10%;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.footer__button-social-network {
		border-radius: 60px;
		width: 30px;
		height: 30px;
	}

	.footer__search-image {
		margin-top: 3px;
		height: 13px;
		width: 13px;
	}

	.footer__search-image:active {
		margin-top: 3px;
		height: 16px;
		width: 16px;
	}
}

/*             MEDIA-mobile            */

@media (max-width: 550px) {
/*             MEDIA-mobile-group_1            */

	.nav {
		position: fixed;
		width: 100%;
		z-index: 10;
	}

	.nav .container {
		height: 80px;
	}
	
	.img {
		display: none;
	}

	.img-logo-mobile {
		width: 40px;
		height: 40px;
		display: block;
	}

	.wrapper {
		display: block;
	    width: 55px;
	    background-color: orange;
	    position: relative;
	    text-align: center;
	    height: 40px;
	}

	#check-menu {
	    display: none;
	}

	.nav__lable {
	    display: block;
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	    cursor: pointer;
	    z-index: 2;
	    line-height: 40px;
	}

	.nav-line {
	    position: absolute;
	    top: 8px;
	    right: 10px;
	    width: 35px;
	    height: 2px;
	    background-color: #fff;
	    transition: 0.5s all;
	}

	.second, .third {
	    top: 18px;
	}

	.fourth {
	    top: 28px;
	}

	.main-menu{
	    display: block;
	    position: absolute;
	    width: 100px;
	    bottom: -50%;
	    right: 0;
	    transform: translate(16%,100%);
	    max-height: 0;
	    overflow: hidden;
	    transition: 0.5s all;
	}

	.nav-checkbox__menu {
	    display: block;
	    font-size: 20px;
	    padding: 10px;
	    color: white;
	    text-decoration: none;
	    border-bottom: 1px solid black;
	    background-color: #daac00;
	}

	.nav-checkbox__menu:hover {
	    background-color: orange;
	}

	#check-menu:checked ~ .main-menu {
	    max-height: 500px;
	    font-size: 16px;
	}

	#check-menu:checked ~ .first {
	    display: none;
	}

	#check-menu:checked ~ .second {
	    transform: rotate(45deg);
	}

	#check-menu:checked ~ .third {
	    transform: rotate(-45deg);
	}

	#check-menu:checked ~ .fourth {
	    display: none;
	}

	.menu {
		display: none;
	}

	.search {
		width: 140px;
		height: 60px;
	}

	.search .nav__form {
		align-items: center;
	}

	.search .nav__input {
		width: 100%;
		height: 60%;
		padding-left: 8px;
	}

	.nav__button{
		width: 60px;
		height: 63%;
	}

	.nav__search-img {
		margin: auto;
		width: 15px;
		height: 15px;
	}

	.menu__link {
		color: white;
		font-size: 10px;
		text-decoration: initial;
	}

	/*             MEDIA-mobile-group_2            */

	.home .container {
		align-items: center;
		color: white;
		height: 400px;
	}

	.home__information {
		display: flex;
		flex-direction: column;
		height: 70%;
	}

	.home__subtitle-media {
		display: block;
		position: absolute;
		top: 28%;
	}

	.home__subtitle {
		display: none;
	}

	.home__link {
		display: none;
	}

	.home__link-media {
		display: block;
		position:absolute;
		top: 45%;
		width: 90%;
		display: flex;
		justify-content: space-around;
	}

	.home__text-first {
		font-size: 15px;
		margin-top: 50px;
		margin-bottom: 0px;
	}

	.home__text-lorem-media {
		font-size: 10px;
		margin-top: 40px;
		margin-bottom: 0px;
	}

	.home__button-media {
		text-decoration: initial;
		color: white;
		border-radius: 7px;
		padding: 5px;
	}

	.home__button-media:active {
		text-decoration: initial;
		color: white;
		border-radius: 7px;
		padding: 5px;
	}

	.home__button-contact-us-media {
		background-color: #00ccff;
		border: 2px solid #00ccff;
	}

	.home__button-contact-us-media:hover {
		background-color: #6495ed;
		border: 2px solid #6495ed;
	}

	.home__button-our-services-media {
		border:1px solid white;
	}

	.home__button-our-services-media:hover {
		border:1px solid #604A00;
		color: #604A00;
	}

	.home__img {
		width: 80px;
		height: 100px;
	}

	/*             MEDIA-mobile-group_3            */

	.veterinar-informaton .container {
		display: flex;
		flex-direction: column;
		height: 100%;
	}

	.veterinar-informaton__text {
		height: 250px;
		z-index: 3;
	}

	.veterinar-informaton__title {
		font-size: 20px;
		margin-top: 20px;
		height: 25%;
		text-align: center;
	}

	.veterinar-informaton__subtitle {
		font-size: 10px;
		height: 30%;
		text-align: center;
	}

	.veterinar-informaton__button {
		padding: 10px;
		color: white;
		margin-left: 25%;
	}

	.veterinar-informaton__video {
		position: relative;
		bottom: 10%;
		margin-bottom: 40px;	
	}

	.veterinar-informaton__videoclip-dog  {
		height: 200px; 
		width: 250px;
	}

	.veterinar-informaton__button-play{
		width: 50px;
		height: 50px;
	}

	.veterinar-informaton__tringle{
		width: 20px;
		height: 20px;
	}

	.veterinar-informaton__bloсk {
		width: 140px;
		height: 100px;
	}

	/*             MEDIA-mobile-group_4            */

	.postures-for-treatment {
		height: 100%;
	}

	.postures-for-treatment__text-information {
		height: 33%;
	}

	.postures-for-treatment__title {
		font-size: 20px;
		margin-bottom: 0px;
		height: 5%;
	}

	.postures-for-treatment__subtitle {
		text-align: center;
		font-size: 12px;
		margin-bottom: 10px;
	}

	.postures-for-treatment__image {
		display: flex;
		flex-direction: column;
	}

	.postures-for-treatment__img {
		width: 100%;
		height: 100%;
	}

	.postures-for-treatment__signature-title {
		text-align: center;
		font-size: 20px;
		margin-top: 0px;
		margin-bottom: 0px;
	}

	.postures-for-treatment__signature-subtitle {
		text-align: center;
		font-size: 15px;
		margin-top: 10px;
		margin-bottom: 10px;
	}

	.postures-for-treatment__block-information {
		display: none;
	}

	.postures-for-treatment__block-information-meta {
		display: block;
		display: flex;
		flex-direction: column;
		align-items: center;
		color: white;
	}

	/*             MEDIA-mobile-group_5            */

	.ear-treatment .container {
		display: flex;
		flex-direction: column;
		height: 100%;
	}

	.ear-treatment__video {
		margin-top: 50px;
		width: 250px;
		height: 200px;
	}

	.ear-treatment__text-information {
		margin-bottom: 40px;
	}

	.ear-treatment__title {
		text-align: center;
		font-size: 20px;
		height: 60px;
		margin-top: 10px;
	}

	.ear-treatment__subtitle {
		text-align: center;
		font-size: 10px;
	}

	.ear-treatment__Our-Service {
		padding: 10px;
		color: white;
		margin-right: 50px;
		
	}

	.ear-treatment__Our-Service:hover {
		padding: 10px;
	}

	.ear-treatment__Our-Service:active {
		padding: 10px;
	}

	.ear-treatment__button-play {
		width: 50px;
		height: 50px;
		position: absolute;
		left: 29%;
		top: 55%;
	}

	.ear-treatment__tringle {
		width: 20px;
		height: 20px;
		position: absolute;
		left: 18px;
		top: 15px;
	}

	.ear-treatment__bloсk {
		width: 150px;
		height: 120px;
		position: absolute;
		left: 50%;
		top: 35%;
	}

	/*             MEDIA-mobile-group_6            */

	.buying-dog {
		background-color: #FCC302;
		height: 100%;
	}

	.buying-dog__text-information {
		display: flex;
		flex-direction: column;
		color: white;
		height: 35%;
	}

	.buying-dog__title {
		font-size: 25px;
	}

	.buying-dog__subtitle {
		font-size: 10px;
		margin-top: 10px; 	
	}

	.buying-dog__meta-mobile {
		display: block;
		align-items: center;
	}

	.buying-dog__image-meta {
		width: 100%;
	}

	.buying-dog__img {
		width: 80%;
		height: 40%;
		margin-top: 20px;
	}

	.buying-dog__cost-information {
		display: flex;
		align-items: center;
	}

	.buying-dog__cost {
		display: none;
	}

	.buying-dog__money {
		position: relative;
		font-size: 30px;
	}

	.buying-dog__sale {
	}

	.buying-dog__trait50 {
		width: 50px;
		position: absolute;
    	top: 50%;
    	left: 40%;
    	transform: translate(-100%);
	}

	.buying-dog__trait40 {
		width: 50px;
	}

	.buying-dog__trait45 {
		width: 50px;
	}

	.buying-dog__button {
		background-color: #00BEC9;
		border-radius: 60px;
		color: white;
		font-size: 15px;
		padding: 10px 50px;
		margin-bottom: 30px;
	}

	.buying-dog__button:hover {
		background-color: #6495ED;
		font-size: 15px;
		padding: 10px 50px;
	}

	.buying-dog__button:active {
		background-color: #00BEC9;
		font-size: 15px;
		padding: 10px 50px;
	}

	.buying-dog__image {
		display: none;
	}

	/*             MEDIA-mobile-group_7            */

	.vetcare-team {
		height: 100%;
	}

	.vetcare-team__title {
		text-align: center;
		font-size: 30px;
		margin-top: 40px;
		margin-bottom: 0px;
	}

	.vetcare-team__subtitle {
		text-align: center;
		font-size: 12px;
	}

	.vetcare-team__media-mobile {
		display: block;
	}

	.vetcare-team__signature {
		display: none;
	}

	.vetcare-team__image {
		display: none;
	}

	.vetcare-team__image-size {
		margin-top: 30px;
		width: 100%;
		height: 100%;
	}

	.vetcare-team__signature-title {
		font-size: 20px;
		margin-bottom: 0px;
		text-align: center;
	}

	.vetcare-team__signature-subtitle {
		font-size: 15px;
		margin-top: 10px;
		text-align: center;
	}

	.vetcare-team__social-network {
		margin-top: 5px;
		margin-bottom: 30px;
		width: 30px;
		height: 30px;
	}

	.vetcare-team__social-network-icon {
		width: 19px;
		height: 19px;
	}

	.vetcare-team__social-network-icon:active {
		width: 21px;
		height: 21px;
	}

	/*             MEDIA-mobile-group_8            */

	.all-time-information {
		height: 100%;
	}

	.all-time-information__icon {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.all-time-information__icon-img {
		width: 50px;
		height: 50px;
	}

	.all-time-information__icon-information {
		text-align: center;
		margin-top: 30px;
		margin-right: 20px;
	}

	.all-time-information__text {
		color: white;
		height: 100px;
		display: flex;
	}

	.all-time-information__title {
		text-align: center;
		font-size: 20px;
		margin-top: 30px;
	}

	/*             MEDIA-mobile-group_9            */

	.recent-posts {
		height: 100%;
	}

	.recent-posts__title {
		text-align: center;
		font-size: 30px;
		margin-bottom: 0px;
	}

	.recent-posts__subtitle {
		text-align: center;
		font-size: 12px;
		margin-top: 10px;
	}

	.recent-posts__block-information-meta-mobile {
		display: block;
	}

	.recent-posts__block-information {
		display: none;
	}

	.recent-posts__image-meta-mobile {
		display: flex;
		justify-content: center;
		margin-top: 50px;
		width: 100%;
		height: 100%;
	}

	.recent-posts__information-text {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		position: relative;
		margin-bottom: 50px;
	}

	.recent-posts__information {
		display: flex;
		justify-content: space-between;
		margin-left: 10px;
		margin-right: 10px;
	}

	.recent-posts__signature {
		font-size: 15px;
	}

	.recent-posts__signature-subtitle {
		font-size: 10px;
	}

	.recent-posts__date {
		color: #00BEC9;
		font-size: 12px;
		text-transform: uppercase;
	}

	.recent-posts__links {
		text-align: center;
	}

	.recent-posts__link {
		width: 50%;
		display: flex;
		position: absolute;
		top: 95%;
	}

	.recent-posts__link-text-information {
		width: 100%;
	}

	.recent-posts__plus {
		position: absolute;
		left: 85%;
		display: none;
		width: 10%;
	}

	.recent-posts__link:hover .recent-posts__plus {
		display: block;
	}

/*             MEDIA-mobile-group_10(footer)            */

	.footer .container {
		height: 100%;
		display: flex;
		flex-direction: column;
	}

	.footer__column {
		display: none;
	}

	.footer__column-meta-mobile {
		display: flex;
		justify-content: space-around;
		width: 90%;
	}

	.footer__column-meta {
		display: flex;
		flex-direction: column;
		margin-top: 15px;
		height: 160px;
	}

	.footer__About {
		font-size: 20px;
	}

	.footer__About:hover {
		font-size: 20px;
	}

	.footer__Services {
		font-size: 20px;
	}

	.footer__Services:hover {
		font-size: 20px;
	}

	.footer__subtitle {
		font-size: 10px;
	}

	.footer__subtitle:hover {
		font-size: 10px;
	}

	.footer__search-information {
		width: 90%;
		height: 200px;
	}

	.footer__title-search {
		color: white;
		font-size: 20px;
		margin-top: 0px;
		margin-bottom: 0px;
		text-align: center;
	}

	.footer__subtitle-search {
		text-align: center;
		font-size: 12px;
		color: white;
		margin-top: 0px;
		margin-bottom: 20px;
	}

	.footer__form-media-mobile {
		width: 90%;
		display: flex;
		justify-content: center;
		margin-left: 10px; 
	}

	.footer__input {
		height: 38px;
		width: 100px;
	}

	.footer__button-form {
		height: 40px;
		width: 80px;
	}

	.footer__img {
		width: 15px;
		height: 15px;
	}

	.footer__Services-button-meta {
		display: none;
	}

	.footer__Services-button-meta-mobile {
		display: flex;
		justify-content: space-between;
	}

	.footer__button-social-network {
		border-radius: 60px;
		width: 25px;
		height: 25px;
	}

	.footer__search-image {
		margin-top: 3px;
		height: 13px;
		width: 13px;
	}

	.footer__search-image:active {
		margin-top: 3px;
		height: 16px;
		width: 16px;
	}
}