.body {
	margin: 0;
}

.nav > .container {
	background-color: #daac00;
	
}

.container {
	display: flex;
	justify-content: space-evenly;
	height: 100px;
}

.meny {
	display: flex;
	justify-content: space-between;
	flex-basis: 35%;
	margin-top: 27px;
}

.logo {
	margin-top: 18px;
}

.search {
	margin-right: 60px;
}

.search input , button{
	border: 0;
	margin-top: 27px;
}

.search form , button {
	box-shadow: 5px 15px 7px rgba(122,122,122,0.2);
}

.search input {
	height: 40px;
	padding-left: 15px;
	background-color: #fcc302;
}

.search input::placeholder {
	color: white;
}

.button{
	position: absolute;
	background-color: #00ccff;
	width: 60px;
	height: 42px;

}

.meny_button {
	color: white;
	font-size: 30px;
	text-decoration: initial;
}